/* 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #f6aaf09e;
}

nav1 > .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #f6aaf09e;
} */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: gray;
}


* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: San Francisco, Roboto, Helvetica, Arial, sans-serif;
    line-height: 150%;
    background-color: #a8b9eba9;
  }

.project-1 {
    background-image: url('https://i.imgur.com/WqMbGiS.png');
}

svg {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
svg:hover {
    fill: rgba(9, 75, 160, 0.705);
    height: 75px;
    width: 75px;
  }

.render {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.port-preview {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
.port:hover {
      opacity: 95%;
      transition: transform 4.5s ease-in-out;
      transform: translate(0px, -20px);
  }

a {
    text-decoration: none;
}


.main-background {
    background: linear-gradient(-45deg, #44caf3bd, #2d80dfcd, #daeffd54, #80a7a736);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    min-height: 100vh;
  }

.icon-twitter {
    background-image: url('./assets/twitter.svg');
}



img {
    max-height: 500px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }


  @keyframes fadein {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
  }
  